{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "jquery": true
    },
    "rules": {
        "no-undef": "warn",
        "no-unused-vars": "warn",
        "no-console": "warn"
    }
}