/*播放器外层容器*/

.video-player-container {
    position: relative;
    margin: 5px 0;
}


/*播放器容器*/

.video-player {
    position: relative;
    display: inline-block;
}


/*播放器底部扩展控制栏*/

.video-bar-bottom {
    margin: 5px 0;
}